.partner-logos {
  height: 100px;
  width: auto;
  margin-bottom: 16px; }

.partner-text {
  margin-bottom: 48px;
  color: black; }

.slide-item {
  width: 100%; }

.slider-container {
  padding-top: 0; }

.slick-slide {
  padding-left: 6%; }
