.partner-text {
  color: black;
  padding-left: 20px;
  text-align: center;
  font-family: 'Advent Pro', sans-serif;
  font-size: 500%; }

.slick-slide {
  padding-top: 16px;
  width: 100%; }

.slider-container {
  padding-top: 0; }

.slick-slider {
  padding-left: 800px; }

.magisco-slider {
  max-height: 120px; }

.slick-slide {
  max-height: 120px;
  min-height: 120px; }

.slick-list {
  margin-top: 48px;
  margin-bottom: 48px; }
