.embed-responsive {
    border: solid 1px #000000; }
  
    #info {
      background: #1b147a;
      background: -moz-linear-gradient(-45deg, #1b147a 1%, #01396e 17%, #0d1f4d 100%);
      background: -webkit-linear-gradient(-45deg, #1b147a 1%, #01396e 17%, #0d1f4d 100%);
      background: linear-gradient(135deg, #1b147a 1%, #01396e 17%, #0d1f4d 100%);
    }
  
    .infotext {
      color: #fff;
    }