section#Contact.section-padding.wow.fadeInUp.delay-05s
    .container
        .row
            .col-md-12.text-center.white
                h2.service-title.pad-bt15 Keep in touch with us
                p.sub-title.pad-bt15
                    | If you happen to have any questions, fill out the form below and you'll hear from us soon!
                    br
                    | Together we'll find your dream job.
                hr.bottom-line.white-bg
            .col-md-12
                .loction-info.white
                    p#Address
                        i.fa.fa-map-marker.fa-fw.pull-left.fa-2x
                        | Uilenstede 506-39
                        br
                        | 1183DE Amstelveen
                    br#mobile-br
                    p#Email
                        i.fa.fa-envelope-o.fa-fw.pull-left.fa-2x
                        | info@magisco.nl
                    br#mobile-br
                    p#Phonenr
                        i.fa.fa-phone.fa-fw.pull-left.fa-2x
                        | +31 642 467 690
            .col-md-12
                .contact-form
                    #sendmessage Your message has been sent. Thank you!
                    #errormessage
                    form.contactForm(action='', method='post', role='form')
                        .col-md-6.padding-right-zero
                            .form-group
                                input#name.form-control(type='text', name='name', placeholder='Your Name', data-rule='minlen:4', data-msg='Please enter at least 4 chars')
                                .validation
                        .col-md-6
                            .form-group
                                input#email.form-control(type='email', name='email', placeholder='Your Email', data-rule='email', data-msg='Please enter a valid email')
                                .validation
                        .col-md-12
                            .form-group
                                input#subject.form-control(type='text', name='subject', placeholder='Subject', data-rule='minlen:4', data-msg='Please enter at least 8 chars of subject')
                                .validation
                        .col-md-12
                            .form-group
                                textarea.form-control(name='message', rows='8', data-rule='required', data-msg='Please write something for us', placeholder='Message')
                                .validation
                            button.btn.btn-primary.btn-submit(type='submit') SEND NOW