.footer {
    background: #1b147a;
    background: -moz-linear-gradient(-45deg, #1b147a 1%, #01396e 17%, #0d1f4d 100%);
    background: -webkit-linear-gradient(-45deg, #1b147a 1%,#01396e 17%,#0d1f4d 100%);
    background: linear-gradient(135deg, #1b147a 1%,#01396e 17%,#0d1f4d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b147a', endColorstr='#0d1f4d',GradientType=1 );
    &-header {
        color: white;
        font-weight: bold;
        text-align: center;
        padding-top: 8px;
    }
    &-text {
        color: white;
    }
}