body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;  
}

section{
  padding: 20px 0px;
  background-color: #E8E8E8
}

#info{
  background-color: #E8E8E8
}

#particles {
  z-index: -1;
}

.magisco-text{
  top:50%;
  color:white;
  z-index: 1;
}

.particles{
  height: 100vh;
}

#particles canvas{
  position: absolute;
  /* background-color: #0d134d; */
  z-index: -1;
  display: block;
}

#particles canvas{
  height: 100vh !important;
  background: #1b147a;
  background: -moz-linear-gradient(-45deg, #1b147a 1%, #01396e 17%, #0d1f4d 100%);
  background: -webkit-linear-gradient(-45deg, #1b147a 1%,#01396e 17%,#0d1f4d 100%);
  background: linear-gradient(135deg, #1b147a 1%,#01396e 17%,#0d1f4d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b147a', endColorstr='#0d1f4d',GradientType=1 );
}

.jumbotron {  
  background-color: transparent;
  height: 100%;
  padding-top: 20%;
  padding-bottom: 0px;
  margin-bottom: 0px;
  /* border: 1px solid #fff; */
}

@media screen and (max-width: 992px) {
  .jumbotron{
    padding-top: 30%;
  }
  .button h3{
    font-size: 16px;
  }
}

.logo img{
  margin-top:15px;
}

@media screen and (min-width: 640px) {
  .logo img{
    max-width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .logo img{
    max-width: 90%;
    margin-top: 0px;
  }
}

.jumbotron h1,h2 {
  text-align: center;
  color: #fff;
  font-family: 'Advent Pro', sans-serif;
}

.button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    color: #fff;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    padding: 0px 20px 0px 20px;
}

.button:hover{
  text-decoration: underline;
  color: #fff;
}

.button a{
  border-bottom-width: 3px;
}

.button h3{
font-family: 'Advent Pro', sans-serif;
}

.buttonselected{
  text-decoration: underline;
}

.knoppen{
  padding: 5em 20px 0 0;
}

@media screen and (max-width: 992px) {
 .knoppen{
    padding-top: 5px;
  }
}

.contenttext{
  color: #fff;
  height: 100%;
}

.infotext{
  color:#000;
  font-family: Roboto, 'sans-serif';
}

#info h2{
  color: #000;
}

@media screen and (min-width: 992px) {
  .infotext{
    font-size: 18px;
  }

  .funnelinfo{
    padding-top: 8em;
  }
}

.contenttext li{
  margin:auto;
  list-style-position: inside;
}

.box{
  font-family: 'Advent Pro', sans-serif;
}

.box li{
  font-family: 'Roboto', sans-serif;
}

#form{
  height: 100%;
}
.form-control{
    resize:none;
}
.formbutton{
    background: #1b147a;
    background: -moz-linear-gradient(-45deg, #1b147a 1%, #01396e 17%, #0d1f4d 100%);
    background: -webkit-linear-gradient(-45deg, #1b147a 1%,#01396e 17%,#0d1f4d 100%);
    background: linear-gradient(135deg, #1b147a 1%,#01396e 17%,#0d1f4d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b147a', endColorstr='#0d1f4d',GradientType=1 );
    color: white;
}
.nopaddingleft{
  padding-left: 0px;
}

#steps{
    background: #1b147a;
    background: -moz-linear-gradient(-45deg, #1b147a 1%, #01396e 17%, #0d1f4d 100%);
    background: -webkit-linear-gradient(-45deg, #1b147a 1%,#01396e 17%,#0d1f4d 100%);
    background: linear-gradient(135deg, #1b147a 1%,#01396e 17%,#0d1f4d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b147a', endColorstr='#0d1f4d',GradientType=1 );
}

#steps p{
  color: #fff;
}

#steps span{
  font-size: 500%;
  color: #fff;
}

.stepsinfotext{
  padding: 2em 0;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
$ani-speed: 3s;
$ani-delay: 1.5s;

.arrow {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 98%;
  transform-origin: 50% 50%;
  transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
  animation: arrow-movement $ani-speed ease-in-out infinite;
}
.arrow-second {
  animation: arrow-movement $ani-speed $ani-delay ease-in-out infinite;
}

.arrow:before,
.arrow:after {
  background: #fff;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
}

.arrow:before {
  transform: rotate(45deg) translateX(-23%);
  transform-origin: top left;
}

.arrow:after {
  transform: rotate(-45deg) translateX(23%);
  transform-origin: top right;
}

// Animation
@keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 93%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

//landscape orientation
@media screen and (max-width: 992px) and (orientation: landscape) {
  .jumbotron{
    padding-top: 15%;
  }
}

iframe{
  z-index: -2;
  position: absolute;
}

.embed-responsive iframe {
 z-index: 0; 
}

.filmpje{
  padding: 30px 15px 10px 15px;
}